@import url("https://fonts.googleapis.com/css?family=Space+Mono:400|Work+Sans:400");

:root {
  /* Define Colors as colors */
  --green: #00ebc7;
  --red: #ff5470;
  --yellow: #fde24f;
  --black: #1b2d45;
  --blackTransparent: rgba(27, 45, 69, 0.4);
  --white: #feffff;
  --darkBlue: #00214d;
  --grey: #bfbfbf;
  --lightGrey: #f2f4f6;
  --transparentDark: rgba(0, 0, 0, 0.05);
  --transparentDark2: rgba(0, 0, 0, 0.1);
  --transparentDark3: rgba(0, 0, 0, 0.06);
  --transparentGreen: rgba(19, 230, 219, 0.452);
  /* Define Colors intentions */

  --primary: var(--green);
  --danger: var(--red);
  --background: var(--white);
  --headerAndFooterBg: var(--black);
  --headerAndFooterColor: var(--white);
  --textColor: var(--black);
  --lineColor: var(--grey);
  --border-left-color: var(--black);

  /* Styles */
  --line: solid 1px var(--lineColor);

  /* Elevations */
  --shadowXs: 0 0 0 1px var(--transparentDark);
  --shadowS: 0 1px 2px 0 var(--transparentDark);
  --shadow: 0 1px 3px 0 var(--transparentDark2),
    0 1px 2px 0 var(--transparentDark3);
  --shadowMd: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadowLg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadowXl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow2Xl: 0 25px 50px -12px rgba(0, 0, 0, 0.85);
  --shadowInner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --shadowOutline: 0 0 0 3px rgba(66, 153, 225, 0.5);

  /* Type */
  --headingFont: "Space Mono", monospace;
  --bodyFont: "Work Sans", sans-serif;
  --h1: 3.052em;
  --h2: 2.441em;
  --h3: 1.953em;
  --h4: 1.563em;
  --h5: 1.25em;
  --smallText: 0.8em;

  /* positioning */
  --containerPadding: 2.5%;
  --headerHeight: 6rem;
  --headerBottomMargin: 4.5rem;

  /* Utils */
  --border-radius: 4px;

  /* transitions */
  --main-trans: 300ms ease-in all;
}

/* FROM Type Scale */

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 112.5%;
  scroll-behavior: smooth;
}

header {
  background: var(--headerAndFooterBg);
  color: var(--headerAndFooterColor);
  height: var(--headerHeight);
  padding: 1rem;
  margin-bottom: var(--headerBottomMargin);
}
.title {
  display: flex;
  justify-content: center;
}

.title h1 {
  text-align: center;
  padding: 0.2em;
  margin: 0.5em 0 2em 0;
  border-bottom: 3px solid var(--white);
  display: inline-block;
}

body {
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.65;
  background: var(--background);
  color: var(--textColor);
}

main {
  margin: 0 auto;
  max-width: 900px;
  min-height: 100vh;
}

.filter-wrapper {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}
#filter {
  width: 80%;
  border-radius: var(--border-radius);
  border: 2px solid var(--black);
  padding: 0.4rem 0.7rem;
  font-size: 1.2rem;
  box-shadow: var(--shadowLg);
  text-transform: capitalize;
  outline: 0;
  transition: 320ms ease-in-out all;
}
#filter:focus {
  border: 2px solid var(--green);
  box-shadow: var(--shadow2Xl);
}

#posts {
  padding: 2em 0.5em;
}

.post {
  margin: 2rem auto 4rem auto;
  box-shadow: var(--shadowLg);
  border-radius: var(--border-radius);
  height: 100%;
  border: 2px solid var(--white);
}

.post .number-image {
  min-height: 20rem;
  background-image: url("https://images.pexels.com/photos/3617457/pexels-photo-3617457.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  border-radius: var(--border-radius);
}

.number-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.36);
}

.number-image span {
  font-size: 1.8rem;
  z-index: 2;
  position: absolute;
  right: -1.2rem;
  top: -1.4rem;
  color: var(--white);
  background: var(--transparentGreen);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.post .content {
  height: 65%;
}
.content h2,
p {
  padding: 1rem;
}

.loader {
  display: flex;
  position: fixed;
  bottom: 50px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 4rem;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.loader.show {
  opacity: 1;
}

.circle {
  background: var(--green);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: bounce 0.5s ease-in infinite;
  box-shadow: var(--shadowS);
}

.circle:nth-of-type(2) {
  animation-delay: 0.1s;
}
.circle:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) scale(1.2);
    opacity: 0.7;
  }
  50% {
    transform: translateY(-15px);
    opacity: 1;
  }
}
